
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /* nav {
    color: #fff !important;
    background-color: rgba(50,196,100)!important;
  } */
.page-footer{
  background-color: #000;
}
